h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background: black;;
}

.buttons {
    display: flex;
    justify-content: center;
}
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.remove-memes {
    background-color: red;
    height: 40px;
    width: 80px
    box-shadow: none;
    border: none;
    border-radius: 4px;
}

.submit-meme {
    height: 40px;
    width: 80px
    box-shadow: none;
    border: none;
    border-radius: 4px;
}

.img-style {
    height:  50px;
    width: auto;
}